@{
    ViewData["Title"] = "Privacy Policy";
}
<div align="center">
    <h2>About Us!</h2>
</div>

<div class="aboutUsHeader">
    <p>Healing hands theraputic massage is one of a kind massage and is a home based service. My studio is calm and relazxing.</p>
</div>

<div class="faqSection">
    <b>F.A.Q.</b>

    <ul>
        <li><b>How much do massages cost?</b></li>
        <li>Please contact for pricing in the contact section above1</li>

        <br />

        <li><b>How do I know what type I will need?</b></li>
        <li>We can discuss each persons treatment and customize it to best help you</li>

    </ul>

    <img class="faqPic" src="~/Images/MassageBed.jpeg" />
</div>