
@{
    ViewData["Title"] = "Contact";
}
<h2>Contact Us!</h2>

<div class="contactInfo">
    <p>I take text messages and facebook messages with quick response times</p>

    <ul>
        <li>Phone: (253) 329-1818</li>
        <li><a href="https://www.facebook.com/healinghandstheraputicmassage/">Facebook Page</a></li>
        <li><a href="mailtto::canahansadia@yahoo.com">Email me!</a></li>
    </ul>
    
    </div>


<div>
    <address>
        
    </address>
</div>