
@{
    ViewData["Title"] = "Contact";
}
<h2>Contact Us!</h2>

<div>
    <address>
        8810 177th st e, Puyallup, Washington
        <a href="mailtto::canahansadia@yahoo.com">Email me!</a>
    </address>
</div>