@{
    ViewData["Title"] = "Home Page";
}

<div class="mainHeader" align="center">
    <!--<img src="~/Content/FamilyPic.jpeg" class="home-Pic" /> Going to change pic and move to left of intro -->
    <div class="headerText">
        <h1><b>Healing Hands Massage</b></h1>

        <h3><b>A massage with a touch of healing for body, mind and soul</b></h3>
    </div>
</div>

<div class="mainIntro">

    <img class="homePicture" src="~/Images/FamilyPhoto.jpeg" />

    <div class="main-para">
        <p>
            I am an occupational therapist that specilizes in all sorts of massages. These include sports injury, deep tissue, pre/post natal, craniosacral, relaxation, symphatic drainage, and detox. Most massages come with stretching of the muscles as well.

        </p>

        @if (User.IsInRole("Admin"))
        {
            <button>Hello Admin</button>
        }
    </div>

    <div class="rightEditableBox">
        <b>Stretches</b>
        <p class="editText" id="editText">

        </p>

        @if (User.IsInRole("Admin"))
        {
                <button type="button" onclick="OpenEditor()">Edit</button>
                <button type="button" onclick="FinishUp()">Finish</button>
        }
    </div>

    <script src="~/js/QuillBox.js"></script>
</div>
