@{
    ViewData["Title"] = "Home Page";
}

<div class="mainHeader" align="center">
    <!--<img src="~/Content/FamilyPic.jpeg" class="home-Pic" /> Going to change pic and move to left of intro -->
    <div class="headerText">
        <h1><b>Healing Hands Massage</b></h1>

        <h3><b>A massage with a touch of healing for body, mind and soul</b></h3>
    </div>
</div>

<div class="mainIntro">
    <div class="main-para">
        <p>
            I am an occupational therapist that specilizes in all sorts of massages. These include sports injury, deep tissue, pre/post natal, craniosacral, relaxation, symphatic drainage, and detox. Most massages come with stretching of the muscles as well.

        </p>
    </div>


    <div class="rightEditableBox">
        <b>Stretches</b>
        <p class="editText" id="editText">
            I will fill this with info about stretches and photos. QWERTYASDF QWERTYASDF QWERTYASDF QWERTYASDF QWERTYASDF QWERTYASDF QWERTYASDF QWERTYASDF
            QWERTYASDF QWERTYASDF QWERTYASDF QWERTYASDF QWERTYASDF QWERTYASDF QWERTYASDF QWERTYASDF QWERTYASDF QWERTYASDF QWERTYASDF QWERTYASDF QWERTYASDF
            QWERTYASDF QWERTYASDF QWERTYASDF QWERTYASDF QWERTYASDF QWERTYASDF QWERTYASDF QWERTYASDF QWERTYASDF QWERTYASDF QWERTYASDF QWERTYASDF QWERTYASDF
            QWERTYASDF QWERTYASDF QWERTYASDF QWERTYASDF QWERTYASDF QWERTYASDF QWERTYASDF QWERTYASDF
        </p>

    <input type="button" value="Edit" onclick="OpenEditor()" />
    <input type="button" formmethod="post" value="Finish" onclick="FinishUp()" />
    </div>

    <script>


        function OpenEditor() {
            editor.enable();
        }

        function FinishUp() {
            editor.disable();
        }

        var config = {
            readOnly: true,
            theme: 'snow',
            modules: {
                toolbar: false
            }
        };
        //var container = document.getElementById('rightEditableBox');
        var editor = new Quill('.rightEditableBox', config);


    </script>
</div>
